body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(172, 203, 215);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    max-width: 100%;
    max-height: 100%;
}

.newItemArtesao {
    background-color: rgb(225, 222, 199);
    padding: 20px 140px;
    color: white;
    display: flex;
}

.newItemVenda {
    background-color: rgb(225, 222, 199);
    padding: 20px 140px;
    color: white;
    display: flex;

}

.newsItemsUl {
    display: inline-flex;
    justify-content: center;
}


.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newArtesao {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#newBox {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#newCelular {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#BoxArtesao {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 16px;
}

#newValor {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 20%;
    padding: 10px;
    font-size: 16px;
}

#newPagamento {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 30%;
    padding: 10px;
    font-size: 16px;
}


.addBtnArtesao {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtnVenda {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}


.addaddBtnVenda:hover {
    background-color: #2ab53a;
    color: white;
}

.addBtnArtesao:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.column {
    flex: 50%;
    padding: 5px;
  }

.closeArtesao:hover {
    color: #f44336;
    font-weight: bolder;
}

.closeVenda:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 100%;
}
.five {
	width: 5%;
}
.fifteen{
	width: 15%;
}
.fourty{
	width: 40%;
}
.eighty {
	width: 80%;
}

tr:nth-child(odd){
    background-color: #eee;
}

tr:hover {
    background: rgb(200, 199, 199);
}

.CurrencyInfo{
    display: inline-block;
    justify-content: center;
    padding-left: 10vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.Dolar{
}

.Euro{
}


